/*Carrito*/
.grid-container-cart{
    display: grid;
    justify-content: space-between;
    grid-template-rows: repeat (6,6fr);
    grid-template-columns: repeat(3,4fr);
    gap: 20px;
}

.grid-items-c1{
    grid-column: 1/5;
    @extend %justificar-centro;
    @extend %font-chica;
}

.btn-close{
    position: absolute;
    top: 16px;
    right: 16px;
}

.grid-items-c2{
    grid-row: 2;
    grid-column: 1/5;
}

.grid-items-c3{
    grid-row:3;
}

.btn-del{
    @extend %transparencia;
}

.grid-items-c10{
    grid-row:6;
    grid-column: 2/4;
    align-items: flex-end;
}

.btn-comp{
    position: absolute;
    bottom: 16px;
    right: 130px;
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: nth($colores,7);
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 40%;
    will-change: transform;
}
    
.btn-comp:disabled {
    pointer-events: none;
}
    
.btn-comp:hover {
    color:nth($colores,2);
    background-color:nth($colores,6);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
    
.btn-comp:active {
    box-shadow: none;
    transform: translateY(0);
}

.btn-primary{
    @extend %transparencia;
}

.btn-primary:hover {
    background-color:nth($colores,5);
}

.card:hover{
    transform: scale(1.5);
}
  
/*Fin carrito*/